---
import FormattedDate from "@/components/post/formatted-date.astro";
import Layout from "@/layouts/site-layout.astro";
import { getContentEntryGitDates } from "@/lib/git-dates.mjs";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = (await getCollection("blog"))
    .map((post) => ({
      ...post,
      gitDates: getContentEntryGitDates("blog", post),
    }))
    .sort(
      (a, b) =>
        new Date(b.gitDates.createdAt).valueOf() -
        new Date(a.gitDates.createdAt).valueOf(),
    );

  const contentTags = [
    ...new Set(
      allPosts
        .flatMap((post) => post.data.tags)
        .filter((tag): tag is string => tag !== undefined && tag !== "all")
    ),
  ].sort();
  const uniqueTags = [
    "all",
    ...contentTags,
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts =
      tag === "all"
        ? allPosts
        : allPosts.filter((post) => post.data.tags && post.data.tags.includes(tag));

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={`Articles avec le tag « ${tag} »`} bodyClass="tag-page" readingProgress={false}>
  <Fragment slot="content">
    <section aria-labelledby="tag-posts-title">
      <h1 id="tag-posts-title">Articles avec le tag « {tag} »</h1>
      <ul class="tag-posts">
        {
          posts.map((post) => (
            <li class="tag-post">
              <FormattedDate date={post.gitDates.createdAt} />
              <span class="tag-separator" aria-hidden="true">—</span>
              <a href={`/posts/${post.id}/`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </Fragment>
</Layout>
