---
import FormattedDate from "@/components/FormattedDate.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = (await getCollection("blog")).sort(
    (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
  );

  const uniqueTags = [
    ...new Set(
      allPosts
        .flatMap((post) => post.data.tags)
        .filter((tag) => tag !== undefined)
    ),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter(
      (post) => post.data.tags && post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={`Posts with Tag "${tag}"`} bodyClass="tag-page" scrollUi={false}>
  <Fragment slot="content">
    <h1>Posts with Tag "{tag}"</h1>
    <ul class="tag-posts">
      {
        posts.map((post) => (
          <li class="tag-post">
            <FormattedDate date={post.data.pubDate} time={post.data.pubTime} />
            <span class="tag-separator" aria-hidden="true">—</span>
            <a href={`/posts/${post.id}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </Fragment>
</Layout>
