---
import { SITE_DESCRIPTION, SITE_TAB_TITLE, SITE_TAB_ARTICLE } from "@/consts";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { CookieConsentBannerComponent } from "@/components/CookieConsentBanner.component";
import SEO, { type Props as SEOProps } from "@/components/SEO.astro";
import '../styles/global.css';

interface Props extends SEOProps {
  locale?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { locale = "fr", title, description, ...seoRest } = Astro.props as Props;

const seoTitle = title ? `${SITE_TAB_ARTICLE} ${title}` : SITE_TAB_TITLE;
const seoDescription = description ?? SITE_DESCRIPTION;
---

<!doctype html>
<html lang={locale}>
  <head>
    <SEO
      title={seoTitle}
      description={seoDescription}
      charset="utf-8"
      canonical={canonicalURL}
      {...seoRest}
      extend={{
        meta: [
          { name: "viewport", content: "width=device-width,initial-scale=1" },
          { name: "generator", content: Astro.generator },
          ...(Astro.props.extend?.meta ?? []),
        ],
        link: [
          ...(Astro.props.extend?.link ?? []),
          { rel: "icon", type: "image/x-icon", href: "/favicon.ico" },
          {
            rel: "alternate",
            type: "application/rss+xml",
            title: SITE_TAB_TITLE,
            href: `${Astro.site}rss.xml`,
          },
        ],
      }}
    />

    <slot name="head" />
  </head>

  <body>
    <main class="site-main flex min-h-screen flex-col">
      <Header />
      <slot name="content" />
      <Footer />
    </main>
    <CookieConsentBannerComponent client:load />

    <!-- Module applicatif packagé par Vite -->
    <script>
      import "../scripts/app-init.ts";
    </script>
  </body>
</html>
